.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

.login-form {
  max-width: 400px;
}

.curved-button {
  border-radius: 50px
}

.login-form-button {
  width: 33%;
  background-color: #ff0066;
  color: #fff;
  font-weight: 500;
  height: 40px;
  border-radius: 50px;
}

.login-form-button:hover {
  background-color: #fff;
  color: #ff0066;
  border-color: #ff0066;
}

.register-button {
  width: 33%;
  background-color: #ffs;
  color: #ff0066;
  font-weight: 500;
  height: 40px;
  border-radius: 50px;
}

.register-button:hover {
  background-color: #ff0066;
  color: #fff;
  border-color: #fff;
}


.login-form-forgot {
  float: right;
}

.social-button {
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 50px;
}

.google-button {
  background-color: #dd4b39;
}

.google-button:hover {
  background-color: #fff;
  color: #dd4b39;
  border-color: #dd4b39;
}

.twitter-button {
  background-color: #55acee;
}

.twitter-button:hover {
  background-color: #fff;
  color: #55acee;
  border-color: #55acee;
}

.facebook-button {
  background-color: #3b5998;
}

.facebook-button:hover {
  background-color: #fff;
  color: #3b5998;
  border-color: #3b5998;
}

.input-style {
  height: 45px;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.ant-divider-horizontal.ant-divider-with-text.divider {
  display: flex;
  align-items: center;
}

.social-icon {
  max-height: 40px;
  width: 40px;
  margin: 0px 15px;
}

.header-style {
  background-color: #ff0066;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
